.productOverviewPic{
    width: 10%;
    height: 8%;
}

.ProductList{
    overflow-y: auto;
    border-collapse: collapse;
    top: 200px;
    bottom: 100px;
}

.clickForProduct{
    border: 1pt;
    border-color: black;
}

td{
    border-bottom: 1pt;
    border-color: black;
}

.checkoutBtn{
    width: 100%;
}